html,body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: Quicksand;

}
.navbar{
	
	background-color: #5088FF;
}

.navbar-brand{
	color: #fff;
}

.nav-item a{
	color:#fff;
}


.nav-item a:hover{
	border:1px solid;
	border-radius: 6px;
	background:#fff;
	color: #0031C3;
} 

#home{
	height: 100%;
	background:url(img/land2.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	display: table;
	width: 100%;
}

.landing{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.landing h1{
	font-size: 500%;
	font-weight: 700;
}

.services{
	
	padding-top: 80px;
	text-align: center;

}

.about{
	background:#55BAF5;
	text-align: center;
	margin-top: 100px;
	height: 100%;
}

#ct{
	padding-top: 80px;
}

.subhead h4:before,
.subhead h4:after{
	content: "";
    width: 60px;
    height: 6px;
    border-top: 1px solid white;
    display: inline-block;
    margin: 0 10px;
   
}  

#ct h4{
	padding-top: 80px
}

#ct p{
	padding-top: 40px;
	text-align: left;
}

#contact{
	padding-top: 80px;
}

	

